.categoryButtonsWrapper {
    height: calc(100vh - 88px);
    display: flex;
    margin-top: 88px;
}

.categoryButtons {
    height: 94%;
    margin: auto;
}

#LibraryButton:hover img {
    background-color: rgb(141, 141, 141);
}
