.videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 2.5rem;
}

@media (min-width: 350px) {
    .title {
        font-size: 3rem;
    }
}

@media all and (max-width: 360px) {
    .portfolioLinks {
        flex-direction: column;
    }

    .portfolioLinks a {
        margin-bottom: 1rem;
    }

    .portfolioLinks .bottomPortfolioLink {
        margin-bottom: 0;
    }

    .portfolioLinks a div {
        width: 100%;
    }
    .portfolioLinks a {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
